<article>
    <div>
        <h1>{{title}}</h1>
    </div>
    <div>
        by {{user.username}} on
        {{created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
    </div>
</article>