<article>
    <div>
        <a href="/post/{{id}}" class="post-title myFont-sans sans-bold">{{title}}</a>
    </div>
    <div class="post-meta">
        <p class=" myFont-serif">by <span class="info-green">{{user.username}}</span> on
        {{created_at}}
        |</p>
        <a href="/post/{{id}}" class="info-green myFont-serif"> {{comments.length}} comment(s)</a></p>
    </div>
</article>