<section>
    <h2 class="myFont-sans">Create New Post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title" class="myFont-sans sans-bold">Title: </label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <button type="submit" class="btn myFont-serif">create</button>
    </form>
</section>

{{#if posts.length}}
<section class="dashboard-section">
    <h2 class="myFont-sans">Your Posts</h2>
    <ol class="myFont-serif">
        {{#each posts as |post|}}
        <li>
            <article>
                <div>
                    <a href="/dashboard/edit/{{post.id}}" class="post-title dashboard-title myFont-sans sans-bold">{{title}}</a>
                </div>
                <div class="myFont-serif dashboard-meta">
                    by 
                    <span class="info-green"> {{user.username}} </span> on
                    {{created_at}}
                    | 
                    <a href="/dashboard/edit/{{post.id}}" class="info-green"> {{comments.length}} comment(s)</a>
                </div>
            </article>
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>