<article class="single-post-section">
    <div>
        <h1 class="myFont-sans post-title">{{post.title}}</h1>
        <p class="myFont-serif post-text">{{post.post_text}}</p>
    </div>
    <div class="myFont-serif post-info">
        by {{post.user.username}} on
        {{post.created_at}}
        |
        {{post.comments.length}} comment(s)
    </div>
</article>
<br>

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body" class="cut-out myFont-sans sans-medium"></textarea>
    </div>

    <div class="add-comment-btn-div">
        <button type="submit" class="add-comment-btn myFont-serif">add comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}